on:
  workflow_dispatch:
    inputs:
      options:
        description: 'Options for your choice: '
        required: true
        type: choice
        options:
          - option 1
          - option 2
          - option 3
          - option 4
          
jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
